{
  "openapi": "3.0.0",
  "info": {
    "title": "Belege",
    "version": "1.17.0",
    "description": "Die Belege aus dem Belegbuch in ADNOVA+ können mittels dieser API bearbeitet, geheftet, entheftet\nsowie festgeschrieben und storniert werden. Des Weiteren können auch neue Belege importiert werden.\nDer Import läuft über eine Queue. Daher kann nach dem Aufruf der \"createBeleg\" - Schnittstelle über die Schnittstelle\n\"importstatus\", mittels der InhaltId, der Status abgefragt werden. Enthält der Importstatus eine BelegId ist der Beleg\nerfolgreich angelegt worden und kann über diese BelegId abgerufen werden.\nDamit der Beleg vollständig bearbeitet und ergänzt werden kann, lassen sich die nötigen Daten zu Vorgangsarten,\nStichworte, Label, Ordner, Erläuterungen und FreitextPartner abrufen und bearbeiten.\nDas Heften und Entheften von Belegen ist ebenfalls möglich,. Beim Entheften ist darauf zu achten, dass die einzelnen\nSeiten wie neue Belege importiert werden. Daher müssen über den Importstatus die neuen BelegIds abgefragt werden,\nwenn der Beleg fertig entheftet ist.\n"
  },
  "servers": [
    {
      "url": "https://api.adnova.de/beleg-service",
      "description": "Umgebungen Produktion (Echtdaten)"
    },
    {
      "url": "https://api-wart.adnova.de/beleg-service",
      "description": "Testumgebung mit Authentication (Kopie Echtdaten) nur über VPN erreichbar"
    },
    {
      "url": "https://api-dev.adnova.de/fnktnext/beleg-service",
      "description": "FNKTNext-Umgebung Test mit Authentication (Testdaten) nur über VPN erreichbar"
    }
  ],
  "tags": [
    {
      "name": "beleg-internal",
      "description": "Operationen die von internen Systemen (z.B. ADNOVA+) genutzt werden.<br>\nDie Endpunkte sind von Extern nicht zu erreichen.<br>\n"
    },
    {
      "name": "beleg-content-internal",
      "description": "Operationen die von internen Systemen (z.B. ADNOVA+) genutzt werden um den Inhalt von Belegen zu laden.<br>\n"
    },
    {
      "name": "beleg-fakturierung-internal",
      "description": "Operationen die von internen Systemen im Kontext der Fakturierung genutzt werden.\n"
    },
    {
      "name": "beleg",
      "description": "Operationen die einen Beleg betreffen.<br>\nDies sind neben den CRUD-Operationen auch weitere wie<br>\nAufteilen, Zusammenfügen, Festschreiben, Stornieren, etc.<br>\n"
    },
    {
      "name": "beleg-aktionen",
      "description": "Aktionen sind zusätzliche Vorgänge zu einem Beleg.<br>\nAktionen werden asynchron zur Verarbeitung des Belegs ausgeführt.<br>\n"
    },
    {
      "name": "erlaeuterung",
      "description": "Operationen die eine Erläuterung betreffen<br>\nCRUD-Operationen<br>\n"
    },
    {
      "name": "freitextPartner",
      "description": "Operationen die einen FreitextPartner betreffen<br> CRUD-Operationen<br>"
    },
    {
      "name": "inhaber",
      "description": "Operationen die Inhaber betreffen<br>"
    },
    {
      "name": "label",
      "description": "Operatioen die Label betreffen<br> CRUD-Operationen<br>"
    },
    {
      "name": "ordner",
      "description": "Operatioen die Ordner betreffen<br> CRUD-Operationen<br>"
    },
    {
      "name": "stichwort",
      "description": "Operationen die Stichworte betreffen<br>\n"
    },
    {
      "name": "vorgangsart",
      "description": "Operationen die Vorgangsarten betreffen<br>\n"
    }
  ],
  "paths": {
    "/internal/v1/belege/inhalt/{inhaltId}/partner": {
      "get": {
        "tags": [
          "beleg-internal"
        ],
        "summary": "Lesen von Partnervorschlägen zu einem Beleg bzw. Beleg-Inhalt",
        "operationId": "readBelegPartnerSuggestionsInternal",
        "parameters": [
          {
            "in": "path",
            "name": "inhaltId",
            "description": "Id die einen Inhalt/Datei identifiziert.<br>\n",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InhaltId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Partnervorschläge für den Beleg.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bezeichnung": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Der Benutzer besitzt für den Beleg bzw. Beleg-Inhalt nicht die nötigen Rechte.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Beleg bzw. Beleg-Inhalt oder Belegbuch wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/belege/status": {
      "get": {
        "tags": [
          "beleg-internal"
        ],
        "summary": "Lesen des Import-Status zu Belegen bzw. Beleg-Inhalten",
        "operationId": "readBelegStatusInternal",
        "parameters": [
          {
            "name": "inhaltIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Der Beleg wurde erfolgreich hochgeladen und wird nun verarbeitet.<br>\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "inhaltId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "importDone": {
                        "type": "boolean"
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "scanQuality": {
                        "type": "string",
                        "format": "decimal"
                      },
                      "status": {
                        "type": "string"
                      },
                      "belegId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "nummer": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "hasErrors": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/belege": {
      "post": {
        "tags": [
          "beleg-internal"
        ],
        "summary": "Anlegen eines Belegs",
        "operationId": "uploadBelegInternal",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Dateiinhalt zu einem Beleg.<br>\nHiermit sind die Binärdaten gemeint.<br>\nEs werden folgende Dateitypen für den Upload unterstützt:<br>\n- .bmp\n- .csv\n- .doc\n- .docx\n- .docm\n- .eml\n- .gif\n- .htm\n- .html\n- .jpeg\n- .jpg\n- .msg\n- .odc\n- .odf\n- .odg\n- .odi\n- .odm\n- .odp\n- .ods\n- .odt\n- .oft\n- .otg\n- .otp\n- .ots\n- .ott\n- .pdf\n- .png\n- .ppt\n- .pptx\n- .tif\n- .tiff\n- .txt\n- .xls\n- .xlsm\n- .xlsx\n- .xml\nEs wird basierend auf dem Inhalt (Magic Bytes) und über den ursprünglichen Dateinamen\n(wenn nicht über Magic Bytes möglich oder uneindeutig) der MIME-Type bestimmt.\nBasierend auf diesem MIME-Type wird geprüft, ob die Datei zulässig ist.\n"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "belegbuchId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "qrCodeContent": {
                        "type": "string"
                      },
                      "nummer": {
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Der Beleg wurde erfolgreich hochgeladen und wird nun verarbeitet.<br>\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inhaltId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehler beim Anlegen eines Belegs\n"
          },
          "403": {
            "description": "Der Benutzer besitzt für das Belegbuch nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Belegbuch wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Dateityp nicht unterstützt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/belege/{belegId}/content": {
      "parameters": [
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Herunterladen eines Belegs",
        "tags": [
          "beleg-content-internal"
        ],
        "operationId": "getBelegContentInternal",
        "description": "Laden einer Datei über die UUID. Wenn der Beleg durch die Texterkennung verarbeitet wurde, so wird die daraus resultierende Datei geladen. Ansonsten wird die Originaldatei (ggf. ohne Text) geladen.",
        "responses": {
          "200": {
            "description": "Inhalt zum Beleg zur Id\n",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "204": {
            "description": "Beleg gefunden, dieser hat aber keinen Inhalt"
          },
          "400": {
            "description": "Fehler wenn es sich bei der UUID um keine gültige UUID handelt"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/belege/{belegId}/content/original": {
      "parameters": [
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Herunterladen des Originalbelegs",
        "tags": [
          "beleg-content-internal"
        ],
        "operationId": "getBelegContentOriginalInternal",
        "description": "Laden der Originaldatei über die UUID",
        "responses": {
          "200": {
            "description": "Originaler Inhalt zum Beleg zur Id\n",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "204": {
            "description": "Beleg gefunden, dieser hat aber keinen Inhalt"
          },
          "400": {
            "description": "Fehler wenn es sich bei der UUID um keine gültige UUID handelt"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/belege/{belegId}/content/enhanced": {
      "parameters": [
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Herunterladen des Belegs mit erkanntem Text",
        "tags": [
          "beleg-content-internal"
        ],
        "operationId": "getBelegContentEnhancedInternal",
        "description": "Laden der aus der Texterkennung resultierenden Datei über die UUID.",
        "responses": {
          "200": {
            "description": "Verarbeiteter Inhalt zum Beleg zur Id\n",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "204": {
            "description": "Beleg gefunden, dieser hat aber keinen Inhalt aus der Texterkennung"
          },
          "400": {
            "description": "Fehler wenn es sich bei der UUID um keine gültige UUID handelt"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/fakturierung/belege/stipulate": {
      "put": {
        "tags": [
          "beleg-fakturierung-internal"
        ],
        "summary": "Festschreiben eines Belegs",
        "operationId": "stipulateFakturierungsbeleg",
        "description": "Legt zu einem Fakturierungsbeleg-Portal einen neuen Beleg mit den übergebenen Daten an.\nDieser Beleg wird dann direkt festgeschrieben.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF- oder XML-Datei die in der Fakturierung-Portal erzeugt wird.\n"
                  },
                  "data": {
                    "description": "Objekt mit den Daten für das Festschreiben eines Fakturierungsbelegs.<br>\n",
                    "required": [
                      "betriebId",
                      "benutzer",
                      "fakturierungsbeleg"
                    ],
                    "type": "object",
                    "properties": {
                      "betriebId": {
                        "$ref": "#/components/schemas/InhaberId"
                      },
                      "benutzer": {
                        "$ref": "#/components/schemas/Benutzer"
                      },
                      "fakturierungsbeleg": {
                        "$ref": "#/components/schemas/Fakturierungsbeleg"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Der festgeschriebene Beleg wurde erfolgreich angelegt.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "belegId"
                  ],
                  "properties": {
                    "belegId": {
                      "$ref": "#/components/schemas/BelegId"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehler beim Festschreiben eines Belegs\n"
          },
          "403": {
            "description": "Fehlende Berechtigungen"
          },
          "404": {
            "description": "Entität nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/fakturierung/belege/reverse": {
      "put": {
        "tags": [
          "beleg-fakturierung-internal"
        ],
        "summary": "Stornieren eines Belegs",
        "operationId": "reverseFakturierungsbeleg",
        "description": "Storniert den zu einem stornierten Fakturierungsbeleg-Portal gehörigen Beleg.\nLegt zu dem Korrektur-Fakturierungsbeleg-Portal mit den übergebenen Daten einen neuen Beleg an.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF- oder XML-Datei die in der Fakturierung-Portal erzeugt wird.\n"
                  },
                  "data": {
                    "description": "Objekt mit den Daten für das Festschreiben eines Fakturierungsbelegs.<br>\n",
                    "required": [
                      "betriebId",
                      "benutzer",
                      "stornoFakturierungsbelegId",
                      "fakturierungsbeleg"
                    ],
                    "type": "object",
                    "properties": {
                      "betriebId": {
                        "$ref": "#/components/schemas/InhaberId"
                      },
                      "benutzer": {
                        "$ref": "#/components/schemas/Benutzer"
                      },
                      "stornoFakturierungsbelegId": {
                        "$ref": "#/components/schemas/FakturierungsbelegId"
                      },
                      "fakturierungsbeleg": {
                        "$ref": "#/components/schemas/Fakturierungsbeleg"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Der Beleg wurde erfolgreich storniert und der Korrekturbeleg angelegt.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "belegId"
                  ],
                  "properties": {
                    "belegId": {
                      "$ref": "#/components/schemas/BelegId"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehler beim Stornieren eines Belegs\n"
          },
          "403": {
            "description": "Fehlende Berechtigungen"
          },
          "404": {
            "description": "Entität nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber": {
      "get": {
        "summary": "Lesen von Inhabern",
        "tags": [
          "inhaber"
        ],
        "operationId": "getInhabers",
        "parameters": [
          {
            "in": "query",
            "name": "inhaberFilter",
            "description": "Objekt für die Filterung von Inhabern.<br>\n",
            "schema": {
              "$ref": "#/components/schemas/FilterInhaber"
            },
            "explode": true
          },
          {
            "in": "query",
            "name": "inhaberPageable",
            "description": "Objekt für das OffSet, Limit und die Sortierung beim Laden von Inhabern.<br>\n",
            "schema": {
              "$ref": "#/components/schemas/PageableInhaber"
            },
            "explode": true
          }
        ],
        "description": "Gibt die Inhaber zurück, auf die Zugriff besteht.\n",
        "responses": {
          "200": {
            "description": "Inhaber geladen.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "Daten eines Inhabers/Betriebs.\n",
                    "type": "object",
                    "required": [
                      "id",
                      "nummer",
                      "bezeichnung"
                    ],
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/InhaberId"
                      },
                      "nummer": {
                        "$ref": "#/components/schemas/InhaberNummer"
                      },
                      "bezeichnung": {
                        "$ref": "#/components/schemas/InhaberBezeichnung"
                      },
                      "betriebsnummer": {
                        "$ref": "#/components/schemas/InhaberBetriebsnummer"
                      },
                      "geschaeftstaetigkeit": {
                        "$ref": "#/components/schemas/InhaberGeschaeftstaetigkeit"
                      },
                      "exportConfigurations": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ExportConfiguration"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        }
      ],
      "get": {
        "summary": "Lesen eines Inhabers",
        "tags": [
          "inhaber"
        ],
        "operationId": "getInhaber",
        "description": "Laden eines Inhabers zu einer UUID.\n",
        "responses": {
          "200": {
            "description": "Inhaber geladen\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Daten eines Inhabers/Betriebs.\n",
                  "type": "object",
                  "required": [
                    "id",
                    "nummer",
                    "bezeichnung"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/InhaberId"
                    },
                    "nummer": {
                      "$ref": "#/components/schemas/InhaberNummer"
                    },
                    "bezeichnung": {
                      "$ref": "#/components/schemas/InhaberBezeichnung"
                    },
                    "betriebsnummer": {
                      "$ref": "#/components/schemas/InhaberBetriebsnummer"
                    },
                    "geschaeftstaetigkeit": {
                      "$ref": "#/components/schemas/InhaberGeschaeftstaetigkeit"
                    },
                    "exportConfigurations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExportConfiguration"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehler beim Laden eines Inhabers\n"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        }
      ],
      "get": {
        "tags": [
          "beleg"
        ],
        "summary": "Lesen der Belege",
        "operationId": "readBelege",
        "parameters": [
          {
            "in": "query",
            "name": "belegFilter",
            "description": "Objekt für die Filterung von Belegen.<br>\n",
            "schema": {
              "$ref": "#/components/schemas/FilterBeleg"
            },
            "explode": true
          },
          {
            "in": "query",
            "name": "belegPageable",
            "description": "Objekt für das OffSet, Limit und die Sortierung beim Laden von Belegen.<br>\n",
            "schema": {
              "$ref": "#/components/schemas/PageableBeleg"
            },
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Belege geladen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "Daten eines Belegs\n",
                    "type": "object",
                    "required": [
                      "inhaberId",
                      "id",
                      "erstellt",
                      "geaendert"
                    ],
                    "properties": {
                      "inhaberId": {
                        "$ref": "#/components/schemas/InhaberId"
                      },
                      "id": {
                        "$ref": "#/components/schemas/BelegId"
                      },
                      "quellsystemId": {
                        "$ref": "#/components/schemas/QuellsystemId"
                      },
                      "belegbucheinAusgang": {
                        "$ref": "#/components/schemas/BelegbucheinAusgang"
                      },
                      "erstellt": {
                        "$ref": "#/components/schemas/ZeitpunktErstellung"
                      },
                      "geaendert": {
                        "$ref": "#/components/schemas/ZeitpunktAenderung"
                      },
                      "dateigroesse": {
                        "$ref": "#/components/schemas/Dateigroesse"
                      },
                      "dateiname": {
                        "$ref": "#/components/schemas/Dateiname"
                      },
                      "contentType": {
                        "$ref": "#/components/schemas/ContentType"
                      },
                      "seitenanzahl": {
                        "$ref": "#/components/schemas/Seitenanzahl"
                      },
                      "md5": {
                        "$ref": "#/components/schemas/Md5"
                      },
                      "offen": {
                        "$ref": "#/components/schemas/StatusOffen"
                      },
                      "bearbeitet": {
                        "$ref": "#/components/schemas/StatusBearbeitet"
                      },
                      "festgeschrieben": {
                        "$ref": "#/components/schemas/StatusFestgeschrieben"
                      },
                      "storniert": {
                        "$ref": "#/components/schemas/StatusStorniert"
                      },
                      "uploadBuchstelle": {
                        "$ref": "#/components/schemas/BelegUploadBuchstelle"
                      },
                      "nummer": {
                        "$ref": "#/components/schemas/BelegNummer"
                      },
                      "vorgangsart": {
                        "$ref": "#/components/schemas/VorgangsartAuswahl"
                      },
                      "partner": {
                        "$ref": "#/components/schemas/PartnerAuswahl"
                      },
                      "belegDatum": {
                        "$ref": "#/components/schemas/BelegDatum"
                      },
                      "belegJahr": {
                        "$ref": "#/components/schemas/BelegJahr"
                      },
                      "erlaeuterung": {
                        "$ref": "#/components/schemas/ErlaeuterungBezeichnung"
                      },
                      "kommentar": {
                        "$ref": "#/components/schemas/Kommentar"
                      },
                      "betrag": {
                        "$ref": "#/components/schemas/Betrag"
                      },
                      "dauerbeleg": {
                        "$ref": "#/components/schemas/BelegDauerbeleg"
                      },
                      "erkennungsart": {
                        "$ref": "#/components/schemas/Erkennungsart"
                      },
                      "fakturierungsbelegId": {
                        "$ref": "#/components/schemas/FakturierungsbelegId"
                      },
                      "stichworte": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "$ref": "#/components/schemas/StichwortAuswahl"
                        }
                      },
                      "label": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "$ref": "#/components/schemas/LabelAuswahl"
                        }
                      },
                      "ordner": {
                        "$ref": "#/components/schemas/OrdnerAuswahl"
                      },
                      "dubletten": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "$ref": "#/components/schemas/BelegId"
                        }
                      },
                      "oidcClient": {
                        "$ref": "#/components/schemas/OidcClient"
                      },
                      "bankkontoumsatzIds": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "$ref": "#/components/schemas/BankkontoumsatzId"
                        }
                      },
                      "aktionen": {
                        "type": "object",
                        "properties": {
                          "exists": {
                            "type": "boolean"
                          },
                          "existsUnfinished": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "beleg"
        ],
        "summary": "Anlegen eines Belegs",
        "operationId": "createBeleg",
        "description": "Legt einen neuen Beleg an.\nEs ist möglich die Daten des Beleges auszulassen.\nDiese werden dann automatisch aus der Datei ermittelt und vorgeschlagen,\nmüssen später aber nachbearbeitet werden.\nEin Beleg ohne Datei ist nicht möglich.\nÜber die Importdaten können optional Informationen für den Import mitgegeben werden.\nEs kommt eine UUID für den Inhalt des Belegs zurück.\nÜber die Schnittstelle /importstatus/{inhaltId} kann sich der aktuelle Status des Imports abgerufen werden.\nDer Beleg ist angelegt, sobald der Importstatus eine BelegId enthält.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Dateiinhalt zu einem Beleg.<br>\nHiermit sind die Binärdaten gemeint.<br>\nEs werden folgende Dateitypen für den Upload unterstützt:<br>\n- .bmp\n- .csv\n- .doc\n- .docx\n- .docm\n- .eml\n- .gif\n- .htm\n- .html\n- .jpeg\n- .jpg\n- .msg\n- .odc\n- .odf\n- .odg\n- .odi\n- .odm\n- .odp\n- .ods\n- .odt\n- .oft\n- .otg\n- .otp\n- .ots\n- .ott\n- .pdf\n- .png\n- .ppt\n- .pptx\n- .tif\n- .tiff\n- .txt\n- .xls\n- .xlsm\n- .xlsx\n- .xml\nEs wird basierend auf dem Inhalt (Magic Bytes) und über den ursprünglichen Dateinamen\n(wenn nicht über Magic Bytes möglich oder uneindeutig) der MIME-Type bestimmt.\nBasierend auf diesem MIME-Type wird geprüft, ob die Datei zulässig ist.\n"
                  },
                  "data": {
                    "description": "Objekt mit den Daten für das Anlegen eines Belegs.<br>\n",
                    "required": [
                      "vorgangsartId",
                      "partner",
                      "datum",
                      "jahr"
                    ],
                    "type": "object",
                    "properties": {
                      "quellsystemId": {
                        "$ref": "#/components/schemas/QuellsystemId"
                      },
                      "vorgangsartId": {
                        "$ref": "#/components/schemas/VorgangsartId"
                      },
                      "partner": {
                        "$ref": "#/components/schemas/PartnerAuswahl"
                      },
                      "datum": {
                        "$ref": "#/components/schemas/BelegDatum"
                      },
                      "jahr": {
                        "$ref": "#/components/schemas/BelegJahr"
                      },
                      "belegeinAusgang": {
                        "$ref": "#/components/schemas/BelegbucheinAusgang"
                      },
                      "erlaeuterung": {
                        "$ref": "#/components/schemas/ErlaeuterungBezeichnung"
                      },
                      "stichwortIds": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/StichwortId"
                        },
                        "maxItems": 100
                      },
                      "kommentar": {
                        "$ref": "#/components/schemas/Kommentar"
                      },
                      "rechnungsworkflow": {
                        "$ref": "#/components/schemas/BelegRechnungsworkflow"
                      },
                      "zahlungsart": {
                        "$ref": "#/components/schemas/BelegZahlungsart"
                      },
                      "betrag": {
                        "$ref": "#/components/schemas/Betrag"
                      },
                      "zahlungsbetrag": {
                        "$ref": "#/components/schemas/Betrag"
                      },
                      "iban": {
                        "$ref": "#/components/schemas/Iban"
                      },
                      "bic": {
                        "$ref": "#/components/schemas/BelegBic"
                      },
                      "bankbezeichnung": {
                        "$ref": "#/components/schemas/BelegBank"
                      },
                      "verwendungszweck": {
                        "$ref": "#/components/schemas/BelegVerwendungszweck"
                      },
                      "faelligkeitsdatum": {
                        "$ref": "#/components/schemas/BelegFaelligkeitsdatum"
                      },
                      "labelIds": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "$ref": "#/components/schemas/LabelId"
                        }
                      },
                      "ordnerId": {
                        "$ref": "#/components/schemas/OrdnerId"
                      }
                    }
                  },
                  "importData": {
                    "description": "Objekt für weitere optionale Informationen zum Belegimport.\n",
                    "type": "object",
                    "properties": {
                      "belegeinAusgang": {
                        "$ref": "#/components/schemas/BelegbucheinAusgang"
                      },
                      "quellsystemId": {
                        "$ref": "#/components/schemas/QuellsystemId"
                      },
                      "dublettenCheck": {
                        "description": "Soll der Upload mit Dublettenprüfung durchgeführt werden?",
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Der Beleg wurde erfolgreich hochgeladen und wird nun verarbeitet.<br>\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/BelegId"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehler beim Anlegen eines Belegs\n"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Der Beleg wurde bereits einmal hochgeladen.\nDieser Fehler tritt nur auf, wenn die Dublettenprüfung über das ImportData-Objekt aktiviert wurde.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "dubletten": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/BelegId"
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Dateityp nicht unterstützt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/count": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        }
      ],
      "get": {
        "tags": [
          "beleg"
        ],
        "summary": "Lesen der Anzahl der Belege",
        "operationId": "countBelege",
        "parameters": [
          {
            "in": "query",
            "name": "belegFilter",
            "description": "Objekt für die Filterung von Belegen.<br>\n",
            "schema": {
              "$ref": "#/components/schemas/FilterBeleg"
            },
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Beleganzahl geladen",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Enthält die Anzahl der gefilterten Belege eines Inhabers.\n",
                  "type": "object",
                  "required": [
                    "count"
                  ],
                  "properties": {
                    "count": {
                      "$ref": "#/components/schemas/Count"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/importstatus": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        }
      ],
      "get": {
        "tags": [
          "beleg"
        ],
        "summary": "Lesen der aktuellen Importe einer Firma",
        "operationId": "readImportStatus",
        "responses": {
          "200": {
            "description": "Importstatus geladen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "Objekt für die Daten zu einem aktuellen Import.\n",
                    "type": "object",
                    "required": [
                      "inhaltId",
                      "statusText",
                      "dateiname"
                    ],
                    "properties": {
                      "inhaltId": {
                        "$ref": "#/components/schemas/InhaltId"
                      },
                      "statusText": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "example": "Beleg hochgeladen"
                      },
                      "importDone": {
                        "type": "boolean"
                      },
                      "dateiname": {
                        "$ref": "#/components/schemas/Dateiname"
                      },
                      "belegId": {
                        "$ref": "#/components/schemas/BelegId"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/importstatus/{inhaltId}": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "inhaltId",
          "description": "Id die einen Inhalt/Datei identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaltId"
          }
        }
      ],
      "get": {
        "tags": [
          "beleg"
        ],
        "summary": "Lesen des aktuellen Importstatus eines Belegs",
        "operationId": "getImportStatus",
        "responses": {
          "200": {
            "description": "Importstatus geladen",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Objekt für die Daten zu einem aktuellen Import.\n",
                  "type": "object",
                  "required": [
                    "inhaltId",
                    "statusText",
                    "dateiname"
                  ],
                  "properties": {
                    "inhaltId": {
                      "$ref": "#/components/schemas/InhaltId"
                    },
                    "statusText": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100,
                      "example": "Beleg hochgeladen"
                    },
                    "importDone": {
                      "type": "boolean"
                    },
                    "dateiname": {
                      "$ref": "#/components/schemas/Dateiname"
                    },
                    "belegId": {
                      "$ref": "#/components/schemas/BelegId"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Inhalt wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/heften": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        }
      ],
      "post": {
        "summary": "Heften von Belegen",
        "tags": [
          "beleg"
        ],
        "operationId": "heften",
        "description": "Heftet mehrere einzelne Belege zu einem Beleg zusammen.\nDie Reihenfolge der Belege gibt die Reihenfolge der Seiten des neuen Belegs an.\nEigenbelege können nicht geheftet werden.\nHeften von Eigenbelegen wird mit einem Fehler beantwortet.\nÜber die API ist nicht erkennbar ob es sich bei einem Beleg um einen Eigenbeleg handelt.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Objekt für das Heften von Belegen.<br>\n",
                "type": "object",
                "required": [
                  "belegIds"
                ],
                "properties": {
                  "belegIds": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/BelegId"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Heften erfolgreich\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "inhaberId",
                    "id"
                  ],
                  "properties": {
                    "inhaberId": {
                      "$ref": "#/components/schemas/InhaberId"
                    },
                    "id": {
                      "$ref": "#/components/schemas/BelegId"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehler beim Heften",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Der Benutzer besitzt nicht das nötige Recht zum Heften auf dem PDF-Dokument",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Die Belege konnten nicht geheftet werden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Datensatz ist gesperrt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Abruf eines Belegs",
        "tags": [
          "beleg"
        ],
        "operationId": "getBeleg",
        "description": "Laden eines Beleges zu der UUID.\n",
        "responses": {
          "200": {
            "description": "Beleg zur Id\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Daten eines Belegs\n",
                  "type": "object",
                  "required": [
                    "inhaberId",
                    "id",
                    "erstellt",
                    "geaendert"
                  ],
                  "properties": {
                    "inhaberId": {
                      "$ref": "#/components/schemas/InhaberId"
                    },
                    "id": {
                      "$ref": "#/components/schemas/BelegId"
                    },
                    "quellsystemId": {
                      "$ref": "#/components/schemas/QuellsystemId"
                    },
                    "belegbucheinAusgang": {
                      "$ref": "#/components/schemas/BelegbucheinAusgang"
                    },
                    "erstellt": {
                      "$ref": "#/components/schemas/ZeitpunktErstellung"
                    },
                    "geaendert": {
                      "$ref": "#/components/schemas/ZeitpunktAenderung"
                    },
                    "dateigroesse": {
                      "$ref": "#/components/schemas/Dateigroesse"
                    },
                    "dateiname": {
                      "$ref": "#/components/schemas/Dateiname"
                    },
                    "contentType": {
                      "$ref": "#/components/schemas/ContentType"
                    },
                    "seitenanzahl": {
                      "$ref": "#/components/schemas/Seitenanzahl"
                    },
                    "md5": {
                      "$ref": "#/components/schemas/Md5"
                    },
                    "offen": {
                      "$ref": "#/components/schemas/StatusOffen"
                    },
                    "bearbeitet": {
                      "$ref": "#/components/schemas/StatusBearbeitet"
                    },
                    "festgeschrieben": {
                      "$ref": "#/components/schemas/StatusFestgeschrieben"
                    },
                    "storniert": {
                      "$ref": "#/components/schemas/StatusStorniert"
                    },
                    "uploadBuchstelle": {
                      "$ref": "#/components/schemas/BelegUploadBuchstelle"
                    },
                    "nummer": {
                      "$ref": "#/components/schemas/BelegNummer"
                    },
                    "vorgangsart": {
                      "$ref": "#/components/schemas/VorgangsartAuswahl"
                    },
                    "partner": {
                      "$ref": "#/components/schemas/PartnerAuswahl"
                    },
                    "belegDatum": {
                      "$ref": "#/components/schemas/BelegDatum"
                    },
                    "belegJahr": {
                      "$ref": "#/components/schemas/BelegJahr"
                    },
                    "erlaeuterung": {
                      "$ref": "#/components/schemas/ErlaeuterungBezeichnung"
                    },
                    "kommentar": {
                      "$ref": "#/components/schemas/Kommentar"
                    },
                    "betrag": {
                      "$ref": "#/components/schemas/Betrag"
                    },
                    "dauerbeleg": {
                      "$ref": "#/components/schemas/BelegDauerbeleg"
                    },
                    "erkennungsart": {
                      "$ref": "#/components/schemas/Erkennungsart"
                    },
                    "fakturierungsbelegId": {
                      "$ref": "#/components/schemas/FakturierungsbelegId"
                    },
                    "stichworte": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/StichwortAuswahl"
                      }
                    },
                    "label": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/LabelAuswahl"
                      }
                    },
                    "ordner": {
                      "$ref": "#/components/schemas/OrdnerAuswahl"
                    },
                    "dubletten": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/BelegId"
                      }
                    },
                    "oidcClient": {
                      "$ref": "#/components/schemas/OidcClient"
                    },
                    "bankkontoumsatzIds": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/BankkontoumsatzId"
                      }
                    },
                    "aktionen": {
                      "type": "object",
                      "properties": {
                        "exists": {
                          "type": "boolean"
                        },
                        "existsUnfinished": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Aktualisieren eines Belegs",
        "tags": [
          "beleg"
        ],
        "operationId": "updateBeleg",
        "description": "Aktualisieren der Metadaten zu einem Beleg.\nEigenbelege lassen keine Aktualisierung zu und sind nur über ADNOVA+ zu bearbeiten.\nAktualisieren von Eigenbelegen wird mit einem Fehler beantwortet.\nÜber die API ist nicht erkennbar ob es sich bei einem Beleg um einen Eigenbeleg handelt.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "belegeinAusgang",
                  "vorgangsartId",
                  "partner",
                  "datum",
                  "jahr"
                ],
                "properties": {
                  "belegeinAusgang": {
                    "$ref": "#/components/schemas/BelegbucheinAusgang"
                  },
                  "vorgangsartId": {
                    "$ref": "#/components/schemas/VorgangsartId"
                  },
                  "partner": {
                    "$ref": "#/components/schemas/PartnerAuswahl"
                  },
                  "datum": {
                    "$ref": "#/components/schemas/BelegDatum"
                  },
                  "jahr": {
                    "$ref": "#/components/schemas/BelegJahr"
                  },
                  "erlaeuterung": {
                    "$ref": "#/components/schemas/ErlaeuterungBezeichnung"
                  },
                  "stichwortIds": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/StichwortId"
                    }
                  },
                  "kommentar": {
                    "$ref": "#/components/schemas/Kommentar"
                  },
                  "betrag": {
                    "$ref": "#/components/schemas/Betrag"
                  },
                  "dauerbeleg": {
                    "$ref": "#/components/schemas/BelegDauerbeleg"
                  },
                  "labelIds": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/LabelId"
                    }
                  },
                  "ordnerId": {
                    "$ref": "#/components/schemas/OrdnerId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Beleg wurde aktualisiert\n"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Beleg ist nicht zu bearbeiten",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Datensatz ist gesperrt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Löschen eines Belegs",
        "tags": [
          "beleg"
        ],
        "operationId": "deleteBeleg",
        "description": "Löschen eines Belegs zu der UUID.\n",
        "responses": {
          "204": {
            "description": "Der Beleg wurde erfolgreich gelöscht\n"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Löschen des Belegs nicht möglich"
          },
          "423": {
            "description": "Datensatz ist gesperrt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/suggestions": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Vorschlagswerte zu einem Beleg",
        "tags": [
          "beleg"
        ],
        "operationId": "getBelegSuggestions",
        "description": "Laden von Vorschlagswerten zu einem Beleg.",
        "responses": {
          "200": {
            "description": "Vorschlagswerte zu einem Beleg",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Vorschlagswerte zu einem Beleg",
                  "type": "object",
                  "properties": {
                    "iban": {
                      "type": "object",
                      "properties": {
                        "suggested": {
                          "$ref": "#/components/schemas/Iban"
                        },
                        "candidates": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Iban"
                          }
                        }
                      }
                    },
                    "verwendungszweck": {
                      "type": "object",
                      "properties": {
                        "suggested": {
                          "$ref": "#/components/schemas/BelegVerwendungszweck"
                        },
                        "candidates": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BelegVerwendungszweck"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "Beleg gefunden, dieser hat aber keine Vorschläge"
          },
          "400": {
            "description": "Fehler wenn es sich bei der UUID um keine gültige UUID handelt"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/content": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Herunterladen eines Belegs",
        "tags": [
          "beleg"
        ],
        "operationId": "getBelegContent",
        "description": "Laden einer Datei über die UUID. Wenn der Beleg durch die Texterkennung verarbeitet wurde, so wird die daraus resultierende Datei geladen. Ansonsten wird die Originaldatei (ggf. ohne Text) geladen.",
        "responses": {
          "200": {
            "description": "Inhalt zum Beleg zur Id\n",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "204": {
            "description": "Beleg gefunden, dieser hat aber keinen Inhalt"
          },
          "400": {
            "description": "Fehler wenn es sich bei der UUID um keine gültige UUID handelt"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/content/original": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Herunterladen des Originalbelegs",
        "tags": [
          "beleg"
        ],
        "operationId": "getBelegContentOriginal",
        "description": "Laden der Originaldatei über die UUID",
        "responses": {
          "200": {
            "description": "Originaler Inhalt zum Beleg zur Id\n",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "204": {
            "description": "Beleg gefunden, dieser hat aber keinen Inhalt"
          },
          "400": {
            "description": "Fehler wenn es sich bei der UUID um keine gültige UUID handelt"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/content/ocr": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Herunterladen des Belegs mit erkanntem Text",
        "tags": [
          "beleg"
        ],
        "operationId": "getBelegContentOcr",
        "deprecated": true,
        "description": "Laden der aus der Texterkennung resultierenden Datei über die UUID.",
        "responses": {
          "200": {
            "description": "Verarbeiteter Inhalt zum Beleg zur Id\n",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "204": {
            "description": "Beleg gefunden, dieser hat aber keinen Inhalt aus der Texterkennung"
          },
          "400": {
            "description": "Fehler wenn es sich bei der UUID um keine gültige UUID handelt"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/content/enhanced": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "get": {
        "summary": "Herunterladen des Belegs mit erkanntem Text",
        "tags": [
          "beleg"
        ],
        "operationId": "getBelegContentEnhanced",
        "description": "Laden der aus der Texterkennung resultierenden Datei über die UUID.",
        "responses": {
          "200": {
            "description": "Verarbeiteter Inhalt zum Beleg zur Id\n",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "204": {
            "description": "Beleg gefunden, dieser hat aber keinen Inhalt aus der Texterkennung"
          },
          "400": {
            "description": "Fehler wenn es sich bei der UUID um keine gültige UUID handelt"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg wurde nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/entheften": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "post": {
        "summary": "Entheften eines Belegs",
        "tags": [
          "beleg"
        ],
        "operationId": "entheften",
        "description": "Entheftet einen mehrseitigen Beleg in einzelne Belege.\nDie neuen Belege werden neu importiert, damit die Vorschlagswerte ermittelt werden, daher kommen nur neue InhaltIds zurück.\nÜber die Schnittstelle /importstatus/{inhaltId} kann der aktuelle Status des enthefteten Belegs abgerufen werden.\nDer Beleg ist angelegt, sobald der Importstatus eine BelegId enthält.\n",
        "responses": {
          "200": {
            "description": "Beleg wurde entheftet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "inhaberId",
                    "inhaltIds"
                  ],
                  "properties": {
                    "inhaberId": {
                      "$ref": "#/components/schemas/InhaberId"
                    },
                    "inhaltIds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InhaltId"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Der Benutzer besitzt nicht das nötige Recht zum Heften auf dem PDF-Dokument",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Beleg konnte nicht entheftet werden\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Datensatz ist gesperrt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/move/{destinationInhaberId}": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        },
        {
          "in": "path",
          "name": "destinationInhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        }
      ],
      "post": {
        "summary": "Verschieben eines Belegs",
        "tags": [
          "beleg"
        ],
        "operationId": "moveBeleg",
        "description": "Verschiebt einen Beleg von einem Inhaber in einen anderen.\n",
        "responses": {
          "200": {
            "description": "Beleg wurde verschoben\n"
          },
          "400": {
            "description": "Fehler beim Verschieben\n"
          },
          "403": {
            "description": "Der Benutzer hat nicht die nötigen Berechtigungen\n"
          },
          "404": {
            "description": "Inhaber oder Beleg nicht gefunden\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Beleg konnte nicht verschoben werden\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Datensatz ist gesperrt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/reverse": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
          "in": "path",
          "name": "belegId",
          "description": "Id die einen Beleg identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/BelegId"
          }
        }
      ],
      "post": {
        "summary": "Stornieren eines Belegs",
        "tags": [
          "beleg"
        ],
        "operationId": "reverseBeleg",
        "description": "Storniert den Beleg und legt wenn createKorrekturBeleg=true einen Korrekturbeleg an.\nDie UUID des Korrekturbelegs wird zurückgegeben.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Objekt mit den Daten für das Stornieren eines festgeschriebenen Belegs.<br>\n",
                "type": "object",
                "required": [
                  "createKorrekturBeleg"
                ],
                "properties": {
                  "createKorrekturBeleg": {
                    "description": "Soll ein Korrekturbeleg erstellt werden?\n",
                    "type": "boolean",
                    "default": true,
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beleg wurde storniert\n",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Enthält die UUID des Korrekturbelegs.\n",
                  "type": "object",
                  "required": [
                    "inhaberId",
                    "id"
                  ],
                  "properties": {
                    "inhaberId": {
                      "$ref": "#/components/schemas/InhaberId"
                    },
                    "id": {
                      "$ref": "#/components/schemas/BelegId"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Fehler bei ungültigen Parametern\nZ.B. wenn es sich bei einer Id um keine gültige UUID handelt\n"
          },
          "403": {
            "description": "Der Benutzer besitzt für den Inhaber/den Beleg nicht das nötige Recht.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Inhaber oder Beleg nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Fehler wenn sich der Beleg nicht stornieren lässt.\n"
          }
        }
      }
    },
    "/api/v1/inhaber/{inhaberId}/belege/{belegId}/stipulate": {
      "parameters": [
        {
          "in": "path",
          "name": "inhaberId",
          "description": "Id die einen Inhaber identifiziert.<br>\n",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/InhaberId"
          }
        },
        {
[...]
